.main {
  display: flex;
}
.players-container {
  width: 80%;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 10px; */
  border: 1px solid blue;
  padding: 10px;
}

.team-container {
  width: 20%;
  border: 1px solid black;
}
